.ant-tabs-tab {
  .ant-dropdown-trigger {
    border-radius: 8px 8px 0 0;
  }
}

.ant-tree-select-dropdown .ant-select-tree .ant-select-tree-treenode {
  width: 100%;
  padding-left: 10px;
}

.ant-modal-close-x {
  margin-right: 50px;
}

.ant-modal .ant-modal-close:hover {
  background-color: transparent;
}
